<div class="preview">
  <app-playing-cards [monster]="monster"></app-playing-cards>
</div>
<div class="main">
    <form [formGroup]="formGroup" (submit)="submit($event)">
    
        <div class="form-field">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" formControlName="name">
            @if(isFieldValid('name')){
                <div class="error"> This field is required</div>
            }
        </div>
     
        <div class="form-field">
            <label for="image">Image</label>
            <input id="image" name="image" type="file" (change)="onFileChange($event)">
            @if(isFieldValid('image')){
                <div class="error"> This field is required</div>
            }
        </div>
        <div class="form-field">
            <label for="type">Type</label>
            <select id="type" name="type" formControlName="type">
              @for(type of monsterTypes; track type){
                 <option [value]="type">{{type}}</option>
              }
            </select>
            
        </div>
        <div class="form-field">
            <label for="hp">Hp</label>
            <input id="hp" name="hp" type="number" formControlName="hp">
            @if(isFieldValid('hp')){
                @if(formGroup.get('hp')?.hasError('required')){
                    <div class="error"> This field hp is required</div>
                }
                @if(formGroup.get('hp')?.hasError('min')){
                    <div class="error"> This field must have at least value 2</div>
                }
                @if(formGroup.get('hp')?.hasError('max')){
                    <div class="error"> This maximum value is 200</div>
                }
                
            }
        </div>
        <div class="form-field">
            <label for="figureCaption">Figure caption</label>
            <input id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption">
            @if(isFieldValid('figureCaption')){
                <div class="error"> This field is required</div>
            }
        </div>
        <div class="form-field">
            <label for="attackName">Attack name</label>
            <input id="attackName" name="attackName" type="text" formControlName="attackName">
            @if(isFieldValid('attackName')){
                <div class="error"> This field is required</div>
            }
        </div>
        <div class="form-field">
            <label for="attackStrength">Attack strength</label>
            <input id="attackStrength" name="attackStrength" type="number" formControlName="attackStrength">
            @if(isFieldValid('attackStrength')){
                @if(formGroup.get('attackStrength')?.hasError('required')){
                    <div class="error"> This field hp is required</div>
                }
                @if(formGroup.get('attackStrength')?.hasError('min')){
                    <div class="error"> This field must have at least value 2</div>
                }
                @if(formGroup.get('attackStrength')?.hasError('max')){
                    <div class="error"> This field must have a maximum value 200 </div>
                }
            }
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <mat-label>Attack description</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi" id="attackDescription" name="attackDescription" formControlName="attackDescription">
              </mat-form-field>
            <label for="attackDescription">Attack description</label>
            <input id="attackDescription" name="attackDescription" type="text" formControlName="attackDescription">
            @if(isFieldValid('attackDescription')){
                <div class="error"> This field is required</div>
            }
        </div>
        <div class="button-container">
            <button mat-button (click)="navigateBack()">Back</button>
            <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
        </div>
        
       
    </form>
</div>
